<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormsWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormsWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <script src="https://cdn.jsdelivr.net/npm/darkreader@4.9.58/darkreader.min.js"></script>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" href="/Template/Index">Template</a>
                    <a class="navbar-brand" href="/Answer/Index">Answer</a>
                    <a class="navbar-brand" href="/Admin/Index">Admin</a>
                }
                <form asp-controller="Home" asp-action="Search" method="get" class="d-flex">
                    <input type="text" name="query" class="form-control me-2" placeholder="Search templates..." required>
                    <button type="submit" class="btn btn-outline-primary">Search</button>
                </form>

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial.cshtml" />
                    <div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="darkmode-toggle">
                        <label class="form-check-label me-5" for="darkmode-toggle">Dark Mode</label>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Tagify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.css" />

    <!-- Tagify JS -->
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - FormsWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
	const toggle = document.getElementById('darkmode-toggle');
	if (localStorage.getItem('darkMode') === 'enabled') {
	  toggle.checked = true;
	  DarkReader.enable();
	}

	toggle.addEventListener('change', function() {
	  if (this.checked) {
		DarkReader.enable();
		localStorage.setItem('darkMode', 'enabled');
	  } else {
		DarkReader.disable();
		localStorage.setItem('darkMode', 'disabled');
	  }
	});
	DarkReader.setFetchMethod(window.fetch);
</script>

